<h1>Lista de Alojamientos</h1>

<a href="{{ url_for('accommodation.create_accommodation') }}">Nuevo alojamiento</a>

<table border="1">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Tipo</th>
<th>Acciones</th>
</tr>

{% for a in accommodations %}
<tr>
<td>{{a.id}}</td>
<td>{{a.name}}</td>
<td>{{a.type}}</td>
<td>
<a href="{{ url_for('accommodation.view_accommodation', id=a.id) }}">Ver</a>

<form method="POST" action="{{ url_for('accommodation.delete_accommodation', id=a.id) }}">
<button>Eliminar</button>
</form>

</td>
</tr>
{% endfor %}
</table>
